/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  margin-top: 0px;
}
.sidebar{
  margin-top: -15px;
  padding-top: 0px;
}
#Brand{
  font-size: 1.7em;
  margin-left: -7px;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  /*margin: 0 auto -60px;*/
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #ff6600;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border-bottom: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #ecf0f1;*/
    background-image: url('./images/texture.jpg');
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #AFB5B6;
}


/*
 * Main content
 */

.mainNav {
  background-color: #ecf0f1;
}

#Brand {
  color: #8e44ad;
}

#Brand:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #2b3e50;
}

a {
  /*color: #ff6600;*/
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #000;
}

body {
  /*background-color: #B4C2CB;*/
  /*background-image: url('./images/texture2.jpg');*/
}

html::after {
  content: "";
  background: url('./images/texture3.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.btn-lion {
  color: #FFFFFF;
  background-color: #2980b9;
  border-color: #FFFFFF;
}

.btn-lion:hover {
  color: #2980b9;
  background-color: #FFFFFF;
  border-color: #2980b9;
}

.main {
  /*margin-top: 50px;*/
  padding: 20px;
  position: relative;
  /*background-color: #bdc3c7;*/
  height: 100%;
  color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header{
  margin-top: 0;
}

.loading{
  background: url('./spiffygif_52x52.gif');
  background-repeat: none;
  width: 52px;
  height: 52px;
  margin:0 auto;
}
.error{
  color: red;
  font-size: 1.5em;
}

.welcome{
  font-size: 1.5em;

}

.welcomeList{
  list-style-type: none;
}

.ribbon {
  background-color: black;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 3px solid white;
  font-size: 1.5em;
  color: white;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
.ribbon:hover{
  background-color: #FF6600;
}
.footer{
 /* background: #FA9A50*/;
  background: white;
  color: black;
  height: 30px;
  opacity: .7;
  padding-top: 15px !important;
}
#footerText{
  width: 400px;
  margin-left: 40%;
  color: #2980b9;
}

.totalDiv {
  background-color: #2980b9;
  border: 1px solid white;
  padding: 3px;
  margin: 3px;
}
.track {
  color: orange;
  font-size: 1.2em;
}
.footerLink{
  font-size: 1em;
}
.fork{
  text-shadow: 0 0 1px white;
}
.update {
  color: #FF6600;
}
.nav-sidebar a {
  color: #2980b9;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.nav-sidebar a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #AFB5B6;
}

h1.page-header {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #2980b9;
  text-align: center;
}
a.navbar-brand {
  font-family: 'Roboto', sans-serif;
}
p.welcome {
  text-align: center;
}
div.features {
  text-align: center;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
  
.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

